body{
    background: linear-gradient(90deg, #798a8cb2 0%, #0b6b468d 100%);
  }
  .title{
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 60px;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #fa05ee86 0%, #06ffa06b 100%);
    border-radius: 10px;
  }

  #title{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
  }

  #toolBar{
    height: 80px;
    width: 100%;
    /* 自动滚动 */
    overflow-x: auto;
    overflow-y: auto;
  }
  .toolBarRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap : 10px;
    padding-top: 10px;
  }

  button{
    background-color: #0d0c0c4b;
    border-radius: 5px;
    color : #ffffff;
    font-size: 15px;
    font-weight: bold;
  }

  button:hover{
    background: linear-gradient(90deg, rgb(37, 59, 53) 0%, #06ffa0 100%);
    border-radius: 5px;
    color : #ffffff;
    font-size: 15px;
    font-weight: bold;
  }

  .github{
    height: 30px;
    width: 30px;
    border-radius: 5px;

  }
  footer{
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #ffffff;
  }
  .map{
    height: 1024px;
    width: 80%;
  }
  /* 隐藏版权信息 */
  .BMap_cpyCtrl {
    display: none;
  }  
  .anchorBL img {
    display: none;
  }
  .Docs{ 
    /* make it more  obvious eye caching*/
  position: absolute;
  left: 0px;
  top: 0px;
  height: 30px;
  width: 40px;
  background-color: #ffffff38;
  border-radius: 5px;
  padding: 5px;
  border: solid 1px #ffffff;
  }
  .Docs:hover{
    background: linear-gradient(90deg, rgb(37, 59, 53) 0%, #06ffa0 100%);
    border-radius: 5px;
    color : #ffffff;
    font-size: 15px;
    font-weight: bold;
  }
  .Docs a{
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
  }
  .Docs a:hover{
    color: #f4c404;
    font-size: 15px;
    font-weight: bold;
  }

.content{
  height: 100%;
  width: 100%;
  /* 元素横向不拉伸 */
  display: flex;
  flex-direction: row;
  align-items: center;
}