table{
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
    border-spacing: 0;
}
table th,
table td{
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
body{
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #858796;
    background-color: #0d1117;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#content{
    width: 80%;
    border: 1px solid #121010;
    overflow: auto;
}
blockquote{
    background-color: #ccc7f024;
    border: 1px solid #ffffff24;
    border-left: 6px solid #ffffff7d;
    padding: 0.5rem 1rem;
    margin: 0 0 1rem 0;
}

/* 定义 链接样式 使得其在深色背景下更加利于阅读 */
a{
    border: 1px solid #ffffff3a;
    color: #ffffff;
    text-decoration: none;
    background-color: #ffffff24;
    border-radius: 0.25rem;
}
a:hover{
    border: 1px solid #ffffff3a;
    border-bottom: 1px solid #ffffff;
    color: #053e80;
    text-decoration: none;
    background-color: #ffffff80;
    border-radius: 0.25rem;
}

code{
    border: 1px solid #ffffff3a;
    background-color: #54ec7734;
    border-radius: 0.25rem;
}
#terminal{
    margin: 0 0 0 132px;
    width: 88%;
    border-bottom: 1px solid #ffffff73;
}
canvas:focus {
    outline:none;
}

/* check box 样式修改 使之更加美观 */
input[type=checkbox] {
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    outline: none;
    background: #ffffff30;
    transition: .5s;
    cursor: pointer;
    margin: 0 0 0 0;
    position: relative;
}

input:checked[type=checkbox] {
    background: #ffffffbc;
}
